<?xml version="1.0" encoding="UTF-8" ?>
<suite name="RegressionTest" verbose="3">
    <listeners>
        <listener class-name="com.qa.Listeners.TestListeners"/>
    </listeners>
    <test verbose="1" name="loginPage" parallel="false">

        <classes>
            <parameter name="browser" value="chrome"/>
            <parameter name="configFileName" value= "config.stag.properties"/>
            <class name="com.qa.TestRunner"/>
        </classes>
    </test>
</suite>